{% extends 'base.html.twig' %}

{% block title %}Hello there !{% endblock %}

{% block body %}
    <main class="main-content">
        <section>
            <img src="{{ asset('build/building.jpeg') }}" alt="dev">
        </section>
        <section class="highlight">

        </section>
    </main>
{% endblock %}
