{% extends 'base.html.twig' %}

{% block title %}Hello there !{% endblock %}

{% block body %}
    <nav>
        <div class="burger">
            <span class="bar bar--1"></span>
            <span class="bar bar--2"></span>
        </div>
        <div class="title"><h1>Benjamin Ferdinand</h1></div>
        <div class="links">
            <a href="mailto:b.ferdinand.dev@gmail.com" class="gmail"><i class="bi bi-google" alt="gmail logo"></i></a>
            <a href="https://www.linkedin.com/in/benjamin-ferdinand-945a40158/" class="linkedin"><i class="bi bi-linkedin" alt="linkedin logo"></i></a>
            <a href="https://github.com/BenFerd" class="github"><i class="bi bi-github" alt="github logo"></i></a>
        </div>
    </nav>

    <aside class="side-content">
        <section>
            <ul>
                <li><a class="menu--link" href="/">Home</a></li>
                <li><a class="menu--link" href="/about">A propos</a></li>
                <li><a class="menu--link" href="/contact">Contact</a></li>
            </ul>
        </section>
    </aside>
    <main class="main-content">
        <section>
            <img src="{{ asset('build/building.jpeg') }}" alt="dev">
        </section>
        <section class="highlight">
            
        </section>
    </main>
{% endblock %}
