$widthSideMenu: 300px;
$headerGutter: 60px;
$transitionDuration: 700ms;

body {
  background: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
  position: fixed;
  top: 0;
  height: $headerGutter;
  left: 0;
  right: 0;
  z-index: 10;
  mix-blend-mode: exclusion;
  color: white;

  .burger {
    cursor: pointer;
  }

  .links {
    display: flex;
    justify-content: center;
    a {
      margin-right: 20px;
    }
  }
}

//animetion burger

.burger {
  $size: 50px;
  height: $size;
  width: $size;
  top: 25px;
  position: relative;

  $offsetY: 7px;

  .bar {
    position: absolute;
    left: 0;


    width: 100%;
    height: 3px;
    background: white;
    transition: transform 1s ease;

    &.bar--1 {
      transform: translate3d(0, -$offsetY, 0);
    }

    &.bar--2 {
      transform: translate3d(0, $offsetY, 0);
    }
  }

  &:hover {
    .bar--1 {
      transform: translate3d(0, -$offsetY, 0) rotate(-180deg);
    }

    .bar--2 {
      transform: translate3d(0, $offsetY, 0) rotate(-180deg);
    }

    &.active {

      .bar--1 {
        transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-495deg);
      }

      .bar--2 {
        transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-45deg);
      }
    }
  }

  &.active {
    .bar {
      transition: transform 600ms ease;
    }

    .bar--1 {
      transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-675deg);
    }

    .bar--2 {
      transform: translate3d(0, calc(2 * #{$offsetY}), 0) rotate(-225deg);
    }
  }
}