{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main class="main-content">
        <section>

        </section>
        <section class="contact--form">

        </section>
    </main>
{% endblock %}
