<aside class="side-content">
    <section>
        <ul>
            <li><a class="menu--link" href="/">Home</a></li>
            <li><a class="menu--link" href="/about">A propos</a></li>
            <li><a class="menu--link" href="/contact">Contact</a></li>
        </ul>
    </section>
</aside>
