<nav>
    <div class="burger">
        <span class="bar bar--1"></span>
        <span class="bar bar--2"></span>
    </div>
    <div class="title"><h1>Benjamin Ferdinand</h1></div>
    <div class="links">
        <a href="mailto:b.ferdinand.dev@gmail.com" class="gmail"><i class="bi bi-google" alt="gmail logo"></i></a>
        <a href="https://www.linkedin.com/in/benjamin-ferdinand-945a40158/" class="linkedin"><i class="bi bi-linkedin" alt="linkedin logo"></i></a>
        <a href="https://github.com/BenFerd" class="github"><i class="bi bi-github" alt="github logo"></i></a>
    </div>
</nav>

